<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Encriptador de Mensajes</title>
    <link rel="stylesheet" href="../assets/css/styles.css">
</head>
<body>
    <div class="container">
        <h2>Resultado</h2>
        <textarea id="result-output" readonly></textarea>
        <button onclick="copyToClipboard()">Copiar Texto</button>
        <a href="../index.html"><button>Volver al Inicio</button></a>
    </div>
        <!-- Aquí irán los scripts -->
        <script src="../assets/js/resultado.js"></script>
    
</body>
</html>