@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');


body {
  font-family: 'Arial', sans-serif;
  background-color: #f0f8ff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.myVideo {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  object-fit: cover; /* Ajusta el video para que se ajuste al contenedor */
} 
.container {
  background-color: rgb(33, 112, 112);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 80%;
  max-width: 800px;
}

h1, h2 {
  color: rgb(200, 253, 77);
  font-family: "Pixelify Sans";
}

p {
  color: rgb(252, 252, 252);
  margin: 20px 0;
  line-height: 1.6;
}

textarea {
  width: 100%;
  height: 100px;
  margin: 10px 0;
  padding: 10px;
  border: 1px solid rgb(168, 224, 226);
  border-radius: 5px;
  background-color: transparent;
  font-size: 16px;
}

.button-container, .container button, .container a button {
  margin: 10px 0;
}

button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #87cefa;
  color: white;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #00bfff;
}

button:focus {
  outline: none;
}

a {
  text-decoration: none;
}